<template>  
       <div @click="redirect(link)" class="card">
           <img class="card__img" :src="image">
           <div class="card__info">
               <div class="card__title">{{title}}</div>
               <div class="card__desc">{{description}}</div>
   <!--             <nuxt-link :to="{path:link}" class="card__link">Read More</nuxt-link>   -->    
            <slot></slot>      
           </div>
       </div>
</template>

<script>
export default {
    name:'card',
    props: {
        title:{
            type:String,
            default:""
        },
        description:{
            type:String,
            default:""
        }, 
        image:{
            type:String,
            required:true
        },
        link:{
            type:String,
            required:true
        }
        
    },
    methods: {
        redirect: function(link) {
            this.$router.push(link);
        },
    }
};
</script>

<style lang="scss">
    $color-white :#fff;
    $color-black : #000;
    $color-80black : #222;

    @mixin maxsize(){
        width: 100%;
        height: 100%;
    }

    @mixin posabstopleft(){
        position: absolute;
        top: 0;
        left: 0;
    }

    *{
        box-sizing: border-box;
        font-family: 'Lato' , sans-serif;
    }

    html,body{
        @include maxsize();
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-80black;
    }  
    .card{
        width: 280px;
        height: 360px;
        padding: 2rem 1rem;
        background: $color-white;
        position: relative;
        display: flex;
        align-items: flex-end;
        box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
        transition: 0.5s ease-in-out;
        .card__img{
            @include maxsize();
            @include posabstopleft();
            object-fit:  cover;           
        }
    }
    .card{
        .card__info{
            position: relative;
            z-index: 3;
            color: $color-white;
            transform: translateY(30px);
            transition: 0.5s all;
            .card__title{
                margin: 0;
                font-size: 3rem;
                
            }
        }
    }

   .card {
        .card__info{
            .card__desc{
                letter-spacing: 1px;
                font-size: 15px;
                margin-top: 8px;
                margin-bottom: 20px;
            }
        }
    }

    .card {
        .card__info{
            .card__link{
                text-decoration: none;
                padding: 0.5rem 1rem;
                background:  $color-white;
                color: $color-black;
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;
                transition: 0.4s ease-in-out;
            }
        }
    }

    .card:hover{
        transform: scale(1.13);
    }

    .card:before{
        content: "";
        @include posabstopleft();
        @include maxsize(); 
        display: block;        
        background: linear-gradient(to bottom ,rgba(0,176,155,0.5) , rgba(150,201,61,1));
        z-index: 2;
        transition: 0.5s all;
        opacity: 0;
    }

    .card:hover:before{
        opacity: 1;
    }

   
    .card:hover {
        .card__info{
            display: block;
            opacity: 1;
            transform: translateY(0px);
        }
    }

 
    .card{
        .card__info{
            display: none;
            .card__link:hover{
                box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
            }
        }
    }

</style>