<template>
  <div class="container">
    <card :title="cardTitle" :description="cardDesc" :image="cardImg" :link="cardLink" >some text</card>
  </div>
</template>

<script>
import card from "../components/card";

export default {
  name: "container",
  data : () =>({
        cardTitle: 'Germany',
        cardDesc: 'Germany has so much to offer, including vibrant cities, endless countryside where you can relax or get active',
        cardImg:'https://static.toiimg.com/thumb/72975551.cms?width=680&height=512&imgsize=881753',
        cardLink:'./otherPage'     
  }),
  components:{
    card
  }
};
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
